# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual environment
.venv/
venv/

# Visual Studio
.vs/
*.user
*.suo

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Project output
screenshots/
recordings/
*.log